{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="col-md-4 mt-5">
            <div class="row justify-content-center">
                <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
            </div>
            <div class="card p-4">

                {{ form_start(form) }}
                {{ form_row(form.username) }}
                <div class="row d-flex justify-content-center mt-4">
                    <button class="btn btn-primary" type="submit">
                        Réinitialiser
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
