{% extends 'base.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="col-md-4 mt-5">

            <form method="post" action="{{ path('security_login') }}">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="row justify-content-center">
                    <h1 class="h3 mb-3 font-weight-normal">Authentification</h1>
                </div>

                <div class="card p-4">

                    <label for="inputUsername" class="sr-only">Pseudo</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="inputUsername"
                           class="form-control"
                           placeholder="Pseudo" required autofocus>
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <input type="password" name="_password" id="inputPassword" class="form-control mt-3"
                           placeholder="Mot de passe"
                           required>

                    <div class="row justify-content-center mt-3">
                        <a href="{{ path('security_forgot') }}">Mot de passe oublié</a>
                    </div>


                    <div class="row d-flex justify-content-center mt-4">
                        <button class="btn btn-primary" type="submit">
                            S'authentifier
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
