{{ form_start(form, {method: 'POST', action: path('comment_new', {'id': trick.id})}) }}
<div class="d-flex justify-content-center flex-wrap">

    {{ form_rest(form) }}

    <div>
        <button type="submit" class="btn btn-success">Leave a comment</button>
    </div>

</div>
{{ form_end(form) }}