<div class="comments">


    {% for comment in comments %}

        <div class="d-flex card mt-1" {% if loop.first %}id="anchor"{% endif %}>
            <div class="card-header d-flex">
                <div>
                    <b>
                        {{ comment.user.username }}
                    </b>
                </div>
                <div class="ml-1 ">
                    <small>
                        le {{ comment.datetime | date('d/m/y', 'Europe/Paris') }}
                    </small>
                </div>
            </div>
            <div class="card-body">

                <div class="ml-3">
                    {{ comment.text }}
                </div>
            </div>
        </div>

    {% endfor %}

    {% if moreComments is null %}
    <div class="row justify-content-center mt-3">
        <a href="{{ path('trick_view', {'slug': trick.slug, 'moreComments': true }) }}#anchor" class="btn btn-info btn-sm">Charger plus
            ...</a>
    </div>
    {% endif %}
</div>

