{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center align-items-center">
        <h1>Erreur in interne</h1>

        <p>
            Une erreur est survenue. <a href="{{ path('home') }}">revenir à la page
                principale</a>.
        </p>
    </div>

{% endblock %}