{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center flex-column">
        <h1>Page non trouvée</h1>

        <p>
            La page demandée n'existe pas. Vérifiez votre URL ou <a href="{{ path('home') }}">revenir à la page
                principale</a>.
        </p>
    </div>

{% endblock %}