{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <header>
        <h1>Learn tricks</h1>
    </header>
    <section class="tricks">
        <div class="paper"></div>
    </section>
{% endblock %}
