<h3>Réinitialisation mot de passe de votre vonte Snowtricks</h3>

Bonjour {{ user.username }}! Vous avez demandé à réinitialiser votre mot de passe.

<a href="{{ url }}">Veuillez cliquer sur ce lien pour réinitialiser votre mot de passe.</a>

Merci!
