<h3>Vous être bien enregistré sur Snowtricks!</h3>

Bonjour {{ name }}! Vous avez fait une demande d'inscription sur Snowtricks.


Pour vous terminer l'inscription, <a href="{{ url }}">cliquez sur ce lien .</a>


Merci!

