<h3>Vous être bien enregistré sur Snowtricks!</h3>

Bonjour {{ user.username }}! Vous avez fait une demande d'inscription sur Snowtricks.


Pour vous terminer l'inscription, <a href="{{ param }}">cliquez sur ce lien .</a>


Merci!

